<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>첫번째 조각입니다</title>
</head>
<body>
	
	<div id="chap1_id" th:fragment="chap1">
		<h1>Chapter 1</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate impedit eveniet recusandae necessitatibus totam ipsum accusantium ex vitae quod quis expedita ullam quae. Expedita maiores eius amet error maxime nostrum.
		</p>
	</div>
	<div id="Chap2_id" th:fragment="chap2">
		<h1>Chapter2</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur molestiae vero aliquid officia sint itaque eligendi consequatur ut impedit earum qui culpa ex consequuntur maiores odit aperiam sunt deleniti. Ratione.
		</p>
	</div>
	
</body>
</html>